.title {
    font-weight: normal;
    text-align: center;
}
.total {
    text-align: right;
    font-size: 26px;
}
.userLogin {
    font-size: 18px;
}
.userLogin {
    font-weight: bold;
}
.logout {
    background-color: #7aa37a;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    margin-right: 20px;
}
