.wrap {
    max-width: 800px;
    margin: auto;
    background-color: #b8efec;
    padding: 2% 5% 5% 5%;
    font-family: Roboto;
}
.title {
    font-weight: normal;
    text-align: center;
}
.total {
    text-align: right;
    font-size: 26px;
}

